:root {
	--ss-primary-color: #5897fb;
	--ss-bg-color: rgb(26, 29, 36);
	--ss-font-color: #EFEFEF;
	--ss-font-placeholder-color: #8d8d8d;
	--ss-disabled-color: #dcdee2;
	--ss-border-color: rgb(59, 66, 84);
	--ss-highlight-color: #fffb8c;
	--ss-success-color: #00b755;
	--ss-error-color: #dc3545;
	--ss-focus-color: #5897fb;
	--ss-main-height: 8px;
	--ss-content-height: 300px;
	--ss-spacing-l: 7px;
	--ss-spacing-m: 5px;
	--ss-spacing-s: 3px;
	--ss-animation-timing: 0.2s;
	--ss-border-radius: var(--size-5);
}