.tabUnchecked, .tabChecked {
	margin: 3px -6px 0 0;
	text-align: center;
	border: 1px solid #bebdbd !important;
	vertical-align: middle;
	font: 12px "Trebuchet MS", Tahoma, Verdana, sans-serif;
	color: #4d4d4d !important;
	border-radius: 0px !important;
}

.tabUnchecked:hover, .tabChecked:hover {
	background: #4C81B5;
	border-color: #4C81B5 !important;
	color: #000 !important
}

.tabChecked {
	color: #000;
	cursor: text;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
	background-image: linear-gradient(to top, #eeeeee, #ffffff);
	border-bottom-color: #eee;
}

.tabUnchecked {
	color: #666 !important;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#dddddd', EndColorStr='#eeeeee');
	background-image: linear-gradient(to top, #eeeeee, #dddddd);
}

.tabFrame {
	display: none
}