.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  font-size: 16px;
  padding: 8px 35px 8px 15px;
  background-color: #ffffff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #B5B5BE transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #B5B5BE transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #171725;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.select-items div {
	padding: 8px 22px;
	font-size: 14px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: -40px;
  right: auto;
  z-index: 999999;
  border: 1px solid #B5B5BE;
  border-radius: 4px;
  /* min-width: 150px; */
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #E6F0FB;
}