* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: #F3F4F7;
        margin: 8px;
}
.client-content {
	font-family: Arial;
    padding: 20px;
	background-color: #F3F4F7;
}

.clients {
  width: 100%;
  margin: 0 auto;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 1500px) {
	.clients {
		grid-gap: 40px;
	} 
}

@media only screen and (min-width: 500px) {
  .clients {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .clients {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.client {
  background: white;
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 #EFF2F7;
  -webkit-transition : border .3s ease-out;
  -moz-transition : border .3s ease-out;
  -o-transition : border .3s ease-out;
  transition : border .3s ease-out;
}

.client:hover {
	box-shadow: none;
	border-color: #016EDA;
}

.client a {
	display: block;
	text-decoration: none;
	padding: 24px;
}

.client-thumb {
	display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.client-thumb-img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 16px;
}

.client-thumb-img img {
	width: 100%;
	height: 100%;
}

.client-name {
	font-size: 18px;
	font-weight: 500;
	color: #000;
        flex: 1;
}

.client-name div {
	max-height: 66px;
	overflow: hidden;
}

.schyot {
	margin-bottom: 16px;
}

.fiz-liso, .yur-liso {
	display: inline-block;
	background-color: #FF7200;
	border-radius: 4px;
	padding: 2px 6px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.yur-liso {
	background-color: #016EDA;
}

.data-item {
    display: flex;
    flex-direction: row;
	margin-bottom: 16px;
}

.data-item-title {
	font-size: 16px;
	font-weight: 500;
	color: #62666D;
    min-width: 130px;
}

.data-item-value {
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

.client .data-item:last-child {
	margin-bottom: 0px;
}



/*--------------------------Custom Select-------------------------*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
	text-align: center;
	background-color: #FAFAFB;
	width: 38px;
	height: 32px;
	border: 1px solid #EAEDF3;
	border-left: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 7px;
	right: 8px;
	width: 20px;
	height: 20px;
	background: url(../img/sort-active.png);
	background-repeat: no-repeat;  
}

.select-selected.select-arrow-active:after {
  background: url(../img/sort.png);
}

.select-items div,.select-selected {
	color: #171725;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

.select-items div {
	border-bottom: 1px solid #F1F1F5;
}

.select-items div:last-child {
	border: none;
}

.select-items {
	position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    width: 180px;
	padding: 5px 0px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
	color: #016EDA !important;
	text-decoration: underline;
}
/*----------------------------------------------------*/

.searchbox {
	display: flex;
    justify-content: space-between;
	padding: 16px;
}

.searchbox .custom-select {
	width: 38px;
	font-size: 15px;
}

.searchbar {
	display: flex;
}

.searchbar  > .searchbox-select {
	margin-right: 20px;
}

.searchbox-input {
    width: 18%;
	min-width: 230px;
	height: 32px;
	position: relative;
}
.searchbox-input i {
	position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
    color: #92929D;
}

.searchbox-input input {
	width: 100%;
	height: 100%;
	font-size: 14px;
	border: 1px solid #EAEDF3;
	border-radius: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 1px 10px 1px 30px;
}

.searchbox-input input:focus {
	border-color: #6C6C6C;
}

/*-----------------Button Group-------------*/
.button-group {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 4px 0px #EAEDF3;
}

.button-group > label {
  cursor: pointer;
  position: relative;
  padding: 0px;
}

.button-group > label input[type=radio] {
  opacity: 0;
  position: absolute;
}

.button-group__label {
  background-color: #ffffff;
  border-right: 1px solid #EAEDF3;
  display: block;
  line-height: 32px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #44444F;
}

.button-group__label:hover {
	color: #016EDA;
}

.button-group > label:first-child .button-group__label {
  border-radius: 8px 0 0 8px;
}

.button-group > label:last-child .button-group__label {
  border-radius: 0 8px 8px 0;
}

input:checked + .button-group__label {
  color: #016EDA;
}

.button-group + .button-group {
  margin-top: 10px;
}
/*------------------------------------------*/

.grid-buttons input {
	cursor: pointer;
}
.grid-buttons .button-group__label {
	padding: 8px;
    font-size: 14px;
	color: #92929D;
}

.grid-buttons .button-group__btn:hover .button-group__label {
	color: #016EDA;
}

.filterbox {
	padding: 8px 16px;
}

.filter-content {
    display: flex;
    justify-content: space-between;
	padding: 16px;
    border-radius: 10px;
    background-color: #fff;
}

.filterbox input, .filterbox select {
	border-radius: 4px;
	border: 1px solid #EAEDF3;
	padding: 6px 10px;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
}

.filter-name {
	width: 20%;
}

.filter-inn {
	width: 20%;
}

.filter-branch {
	width: 25%;
}

.filter-create-date, .filter-edit-date {
	width: 16%;
	position: relative;
}

.filter-create-date i, .filter-edit-date i {
	position: absolute;
    top: 6px;
    right: 10px;
	cursor: pointer;
	color: #44444F;
}

.filter-create-date i:hover, .filter-edit-date i:hover {
	color: #016EDA;
}

.filter-create-date input, .filter-edit-date input {
	padding-right: 30px;
}

.client-pagination {
	margin-bottom: 30px;
}

.pagination {
    display: flex;
	justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item:first-child .page-link {
	margin-left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
	font-size: 14px;
	font-weight: 400;
    color: #62666D;
    background-color: #fff;
    border: 1px solid #F1F1F5;
	text-decoration: none;
}

.page-link.active, .page-link:hover {
	z-index: 2;
    color: #016EDA;
}

.clients-list-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
	border-collapse: collapse;
}

th {
    text-align: inherit;
}

.clients-list-table thead th {
    vertical-align: bottom;
}

.clients-list-table td {
	font-size: 14px;
	font-weight: 500;
	color: #000;
	max-width: 200px;
}

.clients-list-table td, .clients-list-table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
	text-align: center;
}

.clients-list {
	padding: 0 15px 15px;
	height: calc(100% - 90px);;
}
.clients-list-content {
	border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;
	box-shadow: 0 2px 4px 0 #EFF2F7;
	/* padding: 16px; */
}

.clients-list-table thead th {
	background-color: #F3F4F7;
    border-top: none;
    font-size: 13px;
    color: #62666D;
    font-weight: 400;
    line-height: 24px;
}

.clients-list-table thead th:first-child {
    border-top-left-radius: 10px;
    border-collapse: separate;
}

.clients-list-table thead th:last-child {
    border-top-right-radius: 10px;
    border-collapse: separate;
}

.clients-list-table tbody th {
	font-size: 14px;
	font-weight: 400;
	color: #62666D;
}

.clients-list-table tbody tr {
	cursor: pointer;
	-webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.clients-list-table tbody tr:hover {
	background-color: #E6F0FB;
}

.clients-list-table tbody td img {
	width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients-list-table .fiz-liso, .clients-list-table .yur-liso {
	font-size: 14px;
	padding: 3px 6px;
}
.client-breadcrumb {
	display: inline-block;
	margin-left: 17px;
}

.breadcrumb-box nav {
	display: block;
}

.breadcrumb {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	color: #44444F;
    padding: 7.5px 16px;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    margin: 0px;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 0 1px 4px 0px #EAEDF3;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item a {
	color: #016EDA;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.breadcrumb-item a:hover {
	color: #0056b3;
    text-decoration: underline;
}

.search-button button {
    border-radius: 8px;
    border: none;
    font-size: 13px;
    font-weight: 400;
	color: #ffffff !important;
	background-color: #016EDA;
    padding: 8px 9px;
	cursor: pointer;
    flex: 1;
}

.search-button button:hover {
	background-color: #1582EE;
}

.search-button button:disabled {
	cursor: default;
	color: #C2C2C2 !important;
	background-color: #F3F4F7;
}

.search-button button.disabled {
	color: #92929D;
}


a:hover {
  cursor: pointer;
}

#pagination ul {
	display: flex;
	justify-content: center;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;
}

#pagination ul li a {
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 14px;
    font-weight: 400;
    color: #62666D;
    background-color: #fff;
    border: 1px solid #F1F1F5;
    text-decoration: none;
}

#pagination ul li.active-page a, #pagination ul li a:hover {
    z-index: 2;
    color: #016EDA;
}

#pagination ul li:first-child a {
    margin-left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#pagination ul li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*////////////////////////////////////////////////////*/
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
	animation: loader 1.2s infinite ease-in-out;
}
#waitImage{
    position: absolute;
    text-align: center;
    margin-right: -13px;
	width: 300px;
	height: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: loader 1.2s infinite ease-in-out;
	background: url(../img/bg_load.png); 
}
.no_data_found{
	text-align: center;
    padding: 10px;
    font-size: larger;
    border: 1px solid #EAEDF3;
    border-radius: 5px;
    background-color: #fff;
    color: #757575 !important;
}

.client-data {
	display: flex;
    align-items: center;
	padding: 5px 15px;
    border-radius: 8px;
}

.client-data #client_name {
	font-size: 14px;
	font-weight: 500;
	color: #016EDA;
	overflow: hidden;
    white-space: nowrap;
    max-width: 648px;
}