body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.bgc_theme {
  background: #1a1d24 !important;
}
.option_jsp #profDiv {
  margin: 0;
}
.option_jsp {
  margin: 0;
  text-align: center;
}
.option_jsp .photo_user {
  width: 100px;
  height: auto;
  margin-top: 24px;
  margin-bottom: 16px;
  border-radius: 12px;
}
.option_jsp .photo_div {
  border-bottom: 1px solid #3b4254;
}
@supports (display: flex) {
  .option_jsp #menuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
  }
}
.option_jsp #menuList {
  margin: 0 16px;
}
.option_jsp #profDiv {
  margin-top: 16px;
}
.option_jsp li {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
  list-style: none;

  padding: 10px 0;
  background: #272b35;
  text-align: left;
  border-radius: 8px;
}
.option_jsp .color {
  color: #fff;
}
.option_jsp li:hover {
  cursor: pointer;
  background: #353945;
}
.option_jsp li .img {
  filter: invert(100%) sepia(5%) saturate(122%) hue-rotate(58deg)
    brightness(118%) contrast(100%);
}
.option_jsp li:hover .img {
  filter: invert(47%) sepia(18%) saturate(3918%) hue-rotate(197deg)
    brightness(97%) contrast(93%);
}
.option_jsp .active {
  background: #4785ef;
  pointer-events: none;
}
.option_jsp span {
  margin-left: 15px;
  margin-right: 10px;
}
.option_jsp li:hover a {
  color: #4785ef;
}
.option_jsp li:hover svg path {
  fill: #4785ef;
}
.option_jsp .active_svg {
  filter: invert(100%) sepia(5%) saturate(122%) hue-rotate(58deg)
    brightness(118%) contrast(100%);
}
.option_jsp a {
  text-decoration: none;
  color: #efefef;
  font-size: 14px;
  font-weight: 400;
}
.option_jsp a:hover {
  cursor: pointer;
}

/* design.jsp*/

.design_jsp img,
.figcaption {
  margin: 0;
}
.design_jsp .figcaption {
  font-family: Inter;
  color: #efefef;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.design_jsp .formToolbar {
  text-align: right;
  margin: 0;
}

.design_jsp img {
  width: 215px;
  height: 140px;
}
.design_jsp .Y_class {
  display: block;
}
.design_jsp .N_class {
  display: none;
}
.design_jsp #base {
  left: 0;
}
.design_jsp .img_active {
  position: absolute;
  width: 34px;
  height: 34px;
  bottom: 6px;
  right: 5px;
}
.design_jsp .theme_td {
  float: left;
  width: 215px;
  margin-left: 16px;
  margin-top: 16px;
}
.design_jsp .theme_td p {
  margin-top: 12px;
}
.design_jsp .theme_img {
  border: 1px solid #3b4254;
  overflow: hidden;
  border-radius: 8px;
  width: 215px;
  height: 140px;
  position: relative;
}
.design_jsp #basepanel {
  height: calc(100% - 0px) !important;
}
.design_jsp .rectangle {
  opacity: 0.16;
  filter: alpha(opacity=16);
  border-radius: 8px;
  right: 0;
  bottom: 0;
  background: #000000;
  position: absolute;
  width: 215px;
  height: 140px;
}
.design_jsp {
  background: #1a1d24;
}
